CLIBs
.nfs*
.[0-9]*
output
reports*
const
work
star_work
HDL_WORK
HDL_LIBRARIES
work_dir
WORK_autoread
transcript
logs
Milkyway.log*
Milkyway.cmd*
src
*.log
*.svf
*.txt
*.mw
*.mr
*.pvl
*.syn
*.dlib
*.ndm
*.ems
alib-52
PreFrameCheck
clog*
feas_cell_history
feas_cell_history.*
snapshot
net.acts
starrc/star_work
starrc/synopsys_custom
